.primary {
    text-align: center;
    margin-left:40px;
    margin-right:40px;
}

.primary >h1 {
    color:white;
    font-size:2.2rem;
}

.primary >p {
    color:blue;
    font-size:1.5rem;
}


@media(max-width:600px) {
    .primary {
        margin-left:0px;
        margin-right:0px;
    }
}


